menu "user packages " 
config gpio-demo  
	 bool "gpio-demo"
	 help
	
config packagegroup-petalinux-kria  
	 bool "packagegroup-petalinux-kria"
	 help
	
config peekpoke  
	 bool "peekpoke"
	 help
	
endmenu
